#bodyid {
  background-color: green;
}

#textlabel {
  border-radius: 20px;
  background-color: white;
  width: 339px;
  height: 49px;
  padding-left: 10px;
  font-size: 17px;
  font-family: ;
  padding-bottom: 0px;
  padding-right: 0px;
}

#text {
  border: none;
  outline: none;
  width: 260px;
  height: 48px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* to do list styling  */
.addbtn {
  background-image: linear-gradient(
    to left,
    rgb(214, 133, 112),
    rgb(227, 109, 41),
    rgb(225, 23, 23)
  );
  background-color: rgb(233, 81, 233);
  padding-left: 14px;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-right: 24px;
  cursor: pointer;
  user-select: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}

.list-tag {
  background-color: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px rgb(107, 107, 107);
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: 0px;
}

.delbtn {
  border: none;
  background-color: rgb(255, 0, 183);
  color: white;
  padding: 5px;
  border-radius: 20px;
  width: 80px;
  margin-bottom: 8px;
}

.delbtn:hover {
  background-color: blue;
}

.ul-card {
  background-color: rgb(142, 219, 236);
  height: 100vh;
}

/* reverse name styling  */

.textlabel1 {
  border-radius: 20px;
  background-color: white;
  /* width: 326px; */
  height: 35px;
  padding-left: 10px;
  font-size: 17px;
  font-family: ;
  padding-bottom: 0px;
  padding-right: 0px;
}

#text1 {
  border: none;
  outline: none;

  margin-right: 5px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.addbtn1 {
  background-image: linear-gradient(
    to left,
    rgb(214, 133, 112),
    rgb(227, 109, 41),
    rgb(225, 23, 23)
  );
  background-color: rgb(233, 81, 233);
  height: 35px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  color: white;
  border: none;
}

/* name printing styling  */

#text2 {
  border-radius: 20px;
  background-color: white;
  /* width: 326px; */
  height: 35px;
  padding-left: 10px;
  font-size: 17px;
  font-family: ;
  padding-bottom: 0px;
  padding-right: 0px;
  border: none;
  outline: none;

  margin-right: 5px;
}
.printbtn {
  background-image: linear-gradient(
    to left,
    rgb(214, 133, 112),
    rgb(227, 109, 41),
    rgb(225, 23, 23)
  );

  height: 35px;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  color: white;
  border: none;
  width: 80px;
}

.textprint {
  color: white;
  font-size: 15px;
  font-family: roboto;
}

.printbtn:hover {
  background-image: linear-gradient(
    to left,
    rgb(201, 182, 39),
    rgb(29, 230, 227),
    rgb(206, 48, 196)
  );
  color: black;
}

/* change backgroundcolor styling  */

#bgchange {
  width: 200px;
  border-radius: 20px;
  padding: 5px;
}


/* preview image code styling starts here  */


#cameraid{
  background-color: white;
  padding: 5px;
  font-size: 38px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px white;
  user-select: none;
  
}


#cameraid:hover{
  background-color: blue;
  color: white;
}

#file{
  display: none;
}

#imgid{
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  width: 300px;
  /* height: 350px; */
}